
.containerfooter {
    display: flex;
    justify-content :space-around;
    background-color: $base-color;
    text-align: $text-align;
    position: relative;
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
    bottom: 0;
    clear: both;
    position: relative;
}