.containerBlog{
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 5em;
}

.containerBlog img{
    width: 20vw;
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
}

@media all and (max-width:1159px) {

    /* blog css */

    .containerBlog{
       
        font-size: 2.7vw;
       
    }
}

@media all and (max-width:1503px) {
    .containerBlog img{
        width: 25vw;
        box-shadow: rgb(88, 32, 15)2px 3px 2px;
    }

    .containerBlog{
       
        font-size: 3vw;
       
    }
}