.sectionContactContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#contact-form input{
    border: none;
    border-bottom: 2px solid rgb(88, 32, 15);
    margin: 2em 0px;
    outline: none;
    font-size: 0.7em;
}

#contact-form textarea{
    margin-top: 1em;
    border: none;
    border-bottom: 2px solid rgb(88, 32, 15);
    outline: none;
    font-size: 0.7em;
}

#contact-form button{
    background-color: rgb(88, 32, 15); 
    border: none;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    cursor: pointer;
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
}

.contact-container{
    margin-bottom: 4rem;
}

.iframContact{
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
}


@media all and (max-width:800px) {
    #contact-form button{
        padding: 0.5em;
        margin-top: 1.5em;
       font-size: 2em;
    }
}

@media all and (max-width:1159px) {
    .sectionContactContainer{
        display: flex;
        flex-direction: column-reverse;
        
    }

    #contact-form{
        margin-bottom: 3rem;
        width: 60%;
    }
}
