.imgGallery{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
    margin: 1rem;
    gap: 1rem;
    text-align: center;
}



.img_1{
   box-shadow: rgb(88, 32, 15) 2px 0px 2px;
   grid-column: 1/4; 
   grid-row: 1/8;
   width: 66%;
   height: auto;
}

.img_2{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 3/5; 
    grid-row: 1/3;
    width: 48%;
    height: auto;
 }

.img_3{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 3/8; 
    grid-row: 3/6;
    width: 85%;
    height: auto;
 }

.img_4{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/6; 
    grid-row: 1/3;
    width: 75%;
    height: auto;
 }

.img_5{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 1/2; 
    grid-row: 2/4;
    width: 100%;
    height: auto;
 }

.img_6{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/5; 
    grid-row: 2/4;
    width: 100%;
    height: auto;
 }

.img_7{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/6; 
    grid-row: 1/3;
    width: 80%;
    height: auto;
 }

.imgTitle{
    text-align: center;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color:rgb(88, 32, 15);
    text-shadow: rgb(240, 138, 5) 2px 0 2px;
}

.imgTitle{
    text-align: center;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color:rgb(88, 32, 15);
    text-shadow: rgb(240, 138, 5) 2px 0 2px;
}

.containerImgGallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

@media all and (max-width:800px) {
    .imgGallery{
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }
}

@media all and (max-width:1503px) {
    .imgGallery{
        width: 80%;
    }
}

